doctype html
html
    head
        title
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
        link(href="app/style/main.css" rel="stylesheet")
    body
        form#newTaskForm
            label New Item
            input(id='newItemInput' placeholder="new task")
            button#saveNewItem.btn.btn-md.btn-primary Save
            button#cancel.btn.btn-md.btn-danger Cancel

        .panel-wrapper
            .panel Awaiting Action
                ul.list-group#awaiting

            .panel In Progress
                ul.list-group#currentList

            .panel Archived
                ul.list-group#archivedList





    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="app/scripts/app.js")
