html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica-Nue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased; }

form {
  margin: 50px;
  font-size: 1.2em; }
  form input {
    padding: 3px 7px;
    font-size: 1.01em; }

.panel-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 100%;
  margin-top: 50px;
  font-size: 1.4em; }
  .panel-wrapper .panel {
    border: 1px solid #333;
    height: 100%;
    width: 100%;
    text-align: center; }
