html, body
    height: 100%
    width: 100%
    margin: 0
    font:
        family: 'Helvetica-Nue', Helvetica, Arial, sans-serif
        size: 15px
    color: #333
    -webkit-font-smoothing: antialiased
form
    margin: 50px
    font-size: 1.2em
    input
        padding: 3px 7px
        font-size: 1.01em
#newList, .panel
    font-size: 1.3em
.new-item-header
    display: flex
    justify-content: center
    button
        margin-right: 10px
.panel-wrapper
    display: flex
    justify-content: space-around
    margin-top: 50px
    .panel
